<div>
    <h3 class="is-size-3">Kitten Information</h3>
    <div>
        <h5 class="is-size-5">Kitten Name</h5>
        <p><%= @kitten.name %></p>
    </div>
    <div>
        <h5 class="is-size-5">Kitten Age</h5>
        <p><%= @kitten.age %></p>
    </div>
    <div>
        <h5 class="is-size-5">Kitten Cuteness</h5>
        <p><%= @kitten.cuteness %></p>
    </div>
    <div>
        <h5 class="is-size-5">Kitten Softness</h5>
        <p><%= @kitten.softness %></p>
    </div>

</div>